#name{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#details{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-size: large;
}
#ug{
    font-weight: bold;
}
#diploma{
    font-weight: bold;
}